<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的工具</title>
    <!-- 引入相同的CSS以保持风格一致 -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/pure-min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/custom.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/mytool.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

</head>
<body>
    <div class="splash-container">
        <div class="splash">
            <h1>我的工具</h1>
            <!-- 添加返回首页的链接 -->
    {#        <a href="{{ url_for('index') }}" class="pure-button pure-button-primary">返回首页</a>#}
            <div class="tools-list">
                <!-- 假设的工具列表 -->
                <div class="tool-item">
                    <h3>Json编辑工具</h3>
                    <a href="{{ url_for('json_editor') }}"  class="pure-button ">Enter</a>
                </div>
                <div class="tool-item">
                    <h3>Har/Json文件转换为Xmind文件。</h3>
                    <form action="{{ url_for('api2xmind') }}" method="POST" enctype="multipart/form-data">
                        <div id="drop-zone1" style="width: 300px; height: 200px; border: 2px dashed #ccc; text-align: center; line-height: 200px;">
                            将文件拖到此处
                        </div>
                    </form>
                </div>
                <div class="tool-item">
                    <h3>Xmind 转换为各种格式 TestCase 文件。</h3>
                    <a href="{{ url_for('xmind2case') }}"  class="pure-button ">Enter</a>
                </div>

                <div class="tool-item">
                    <h3>Xmind简体转繁体</h3>
                    <form action="{{ url_for('transale_xmind') }}" method="POST" enctype="multipart/form-data">
                        <div id="drop-zone2" style="width: 300px; height: 200px; border: 2px dashed #ccc; text-align: center; line-height: 200px;">
                            将文件拖到此处
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/my_tool.js') }}"></script>


</body>
</html>
